/* Effet de soulèvement et de zoom pour la carte */
.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card-hover:hover {
    transform: translateY(-10px); /* Soulève la carte */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Ajoute une ombre plus forte */
  }
  
  /* Effet de zoom pour l'image */
  .card-image-hover {
    transition: transform 0.3s ease; /* Transition pour le zoom */
  }
  
  .card-image-hover:hover {
    transform: scale(1.05); /* Légèrement agrandi l'image */
  }
  